<h1>Bienvenidos a Gloweat</h1>
<h3>Amamos la comida rápida tanto como vos y por eso queremos llevarla a tu mesa, y lo mejor es que ¡TE LA LLEVAMOS DONDE ESTES!</h3>
<br>
<h2>Pagina Principal</h2>
<p>Delivery de comida online que satisface tus sentidos
    Pedí online rápido y fácil
    Nuestra comunidad
    Descubrí millones de experiencias y opiniones de usuarios
    Ingresa tus datos, danos tu dirección, selecciona la comida y listo! Pedir delivery nunca fue tan fácil, con Gloweat lo único difícil es decidir qué comer!!
</p>
<h2>Quienes Somos</h2>
<p>
    Gloweat es una compañía que tiene 2 años, nos dedicamos en pedidos de comida online, además nosotros realizamos cada comida para vos! Nos ubicamos en la cuidad de Alta Gracia y conectamos a millones de personas en distintos sectores de la provincia.   
</p>
<p>
    Nuestro servicio consiste en brindar una plataforma online simple, practica y dependiendo la ubicación el costo adicional, permite a los usuarios elegir su comida rápida favorita entre las opciones disponibles. Realiza tu pedido online y realiza tu pago de la forma más cómoda. 
</p>
<h2>Beneficios</h2>
<table>
    <tr>
        <th>
            <ul>
                <li>Realiza tu pedido de forma práctica, segura y sin costo adicional.</li>
                <li>Evita llamadas telefónicas y líneas ocupadas.</li>
                <li>Encontra promociones y descuentos exclusivos.</li>
                <li>Utiliza pre pedidos para ordenar con anticipación.</li>
                <li>Disfruta nuevamente tus pedidos favoritos desde tu historial</li>
                <li>Compartí tu experiencia calificándonos y dejando un comentario.</li>
            </ul>
        </th>
        <th>
            <table>
                <tr>
                    <th>
                        <button type="button" mat-raised-button color="primary" (click)="openRegisterDialog()">Registrarse</button>
                    </th>
                    <th>
                        <button type="button" mat-raised-button color="primary" (click)="openLoginDialog()">Iniciar Sesión</button>
                    </th>
                </tr>
            </table>
            
            <div id="InSe" class="modalDialog">
              <div>
                  <a href="#close" title="Close" class="close">X</a>
                  <form class="example-form">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Company (disabled)" disabled value="Iniciar Session">
                          </mat-form-field>
                        
                          <!-- <table class="example-full-width" cellspacing="0"><tr>
                            <td><mat-form-field class="example-full-width">
                              <input matInput placeholder="Nombre">
                            </mat-form-field></td>
                            <td><mat-form-field class="example-full-width">
                              <input matInput placeholder="Apellido">
                            </mat-form-field></td>
                          </tr></table> -->
                        
                          <p>
                            <!-- <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Dirección"></textarea>
                            </mat-form-field> -->
                            <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="E-mail"></textarea>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                              <input matInput type="password" placeholder="Contraseña">
                            </mat-form-field>
                          </p>
                          <table>
                            <tr>
                              <th>
                                <div class="example-button-row">
                                  <button mat-raised-button color="warn">Borrar Datos</button>
                                </div>
                              </th>
                              <th>
                                <div class="example-button-row">
                                  <button mat-raised-button color="primary">Iniciar sesion</button>
                                </div>
                              </th>
                            </tr>
                          </table>
                        </form>
              </div>
          </div>
        </th>
    </tr>
</table>