<h1>Estado de Pedidos</h1>
<table>
        <tr>
            <th>Nr Pedido</th>
            <th>Nombre</th>
            <th>Description</th>
            <th>Estado</th>
            <th>Enviar</th>
            
        </tr>
        <tr *ngFor="let item of listaProductos">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <!-- <td><input type="date"></td> -->
            <td>{{item.description}}</td>
            <td>
                <select name="Estado">
                    <option value="Sin_empezar">Sin empezar</option>
                    <option value="En_proceso">En proceso</option>
                    <option value="Termiado">Terminado</option>
                </select>
            </td>
            <td>
                <mat-card-actions>
                        <button mat-button>Enviar</button>
                </mat-card-actions>
            </td>
        </tr>
</table>