{% extends "index2.html" %}

{% block content %}

    <h1>Welcome, {{user.username}}</h1>
    <a href="{% url 'logout_url' %}"> logout</a>

    <table border="3">
        <thead>
            <tr>
                <th>imagen</th>
                <th>Nombre y Descripcion</th>
                <th>Categoria</th>
                <th>precioVenta</th>
            </tr>
        </thead>
        <tbody>
            {% for prod in productos %}
            <tr>
                <td>{{ prod.id_producto }}</td>
                <td>
                    <h3>{{ prod.nombre }}</h3>
                    <p>{{ prod.descripcion }}</p>
                </td>
                <td>{{ prod.id_cate }}</td> 
                <td>{{ prod.precioVenta }}</td>
            </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}