
{% extends "index2.html" %}

{% block content %}
    <table border="3">
        <thead>
            <tr>
                <th>imagen</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>precioVenta</th>
                <th>Unidad</th>
            </tr>
        </thead>
        <tbody>
            {% for productos in usuarios %}
            <a href="{% url 'update_url' productos.id_producto %}">
            <tr>
                <td>{{ productos.id_producto }}</td>
                <td>
                    <h3>{{ productos.nombre }}</h3>
                    <p>{{ productos.apellidos }}</p>
                </td>
                <td>{{ productos.precioVenta }}</td>
                <td>{{ productos.nombre }}</td>
            </tr>
            </a>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'nuevo_url' %}">Nuevo Producto</a>
</body>
{% endblock content %}