<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">

    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
            <div class="example-perfil-image"><img mat-card-image src="https://lgfstatic.com/2015/conversions/virtudes-de-una-persona-large.jpg" alt="Perfil"></div>
        <br>
        <br>
        <br>
    <ul>
        <li>Nombre</li>
        <!-- <li><a href="/login">Productos</a></li> -->
        <li>Carrito</li>
        <li> Historial de Carrito</li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <h2><button mat-button (click)="sidenav.open()"><i class="fas fa-bars"></i></button></h2>
    <h1>Bienvenidos a Gloweat</h1>
    <div class="product-list">
      <div class="item" *ngFor="let item of prductos">
        <app-inicio></app-inicio>
      </div>
    </div>
    <!-- <table>
        <tr>
            <th><app-inicio></app-inicio></th>
            <th><app-inicio></app-inicio></th>
            <th><app-inicio></app-inicio></th>
        </tr>
        <tr>
            <th><app-inicio></app-inicio></th>
            <th><app-inicio></app-inicio></th>
            <th><app-inicio></app-inicio></th>
        </tr>
    </table> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
