.fas {
  color: white;
  font-size: 20px;
}
.example-perfil-image{
    height: 200px;
    width: 180px;
    margin: auto;
    margin-top: 40px;
  }
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  }

button {
    background: gray;
    display: block;
    height: 100%;

  }
h2 {
    align-content: unset;
    display: block;
    background-color: gray;
    height: 50px;
    margin-top: 0%;
    text-align: center;
    font-size: 47px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
    text-align: center;
}
ul {
  list-style-type: none;
  width: 200px;
  text-align: center;
  padding: 0%;
}
li {
  width: 200px;
  height: 50px;
  padding-top: 15px;
  display: inline-block;
}
li:hover{
  background-color: gray;
  color: white;
}

.product-list {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 1rem;
}
